/**
 * Base - styling element selectors
 */

html, body {
	color: white;
	background-color: #C5C5C5;
}

img {
	width: 100%; /* make image responsive */
	height: auto;
	display: block; /* remove bottom padding */
}

a:link, a:visited {
	color: white;
}

ul {
	list-style-type: none;
}

li {
}

/**
 * Helpers
 */

.clearfix:after {   		/* note: */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/**
 * Custom Classes
 */

.container {
	background-color: rgba(233, 30, 99, 0.5);
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
}

.row {
	clear: both;
}

.col {
	float: left;
}

.col-half {
	width: 50%;
}

.col-third {
	width: 33.3333333333%;
}

.col-fourth {
	width: 25%;
	background-color: rgba(76, 175, 80, 0.48);
}

.col-offset-third {
	margin-left: 33.3333333333%
}

.full-height {
	height: 100vh;
}

.bottom-margin {
	margin-bottom: 200px;
}

.h2 {
	font-size: 1.5em;
}

.current_item {
	font-weight: 800;
	text-shadow: 0px 0px 10px white, 0px 0px 20px white;
}

/**
 * Header
 */

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(140, 140, 226, 0.62);
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-offset {
	padding-top: 78px;
}

.h1 {
	font-size: 2em;
}

.menu {
	float: right;
	background-color: rgba(128, 84, 234, 0.52);
}

.menu-item {
	display: inline-block;
	font-weight: 500;
	font-size: 1em;
  /*margin-right: 1em;*/
  margin-top: 15px;
}

/*.menu-item:last-child {*/
	/*margin-right: 0;*/
/*}*/

.menu-item + .menu-item {
	margin-left: 1em;
}

/**
 * Introduction
 */

.introduction {
}

.introduction-container {
	margin-top: 50px;
}

.section {
}

.introDiv {
	background-color: rgba(151, 177, 120, 0.71);
}

.introText {
}

.content_links {
	background-color: rgba(255, 6, 0, 0.5);
	display: block;
	float: left;
	margin-top: 50px;
	margin-bottom: 0;
	padding-left: 10%;
}

.li-style:before {
	content: "- ";
}

/**
 * About
 */

.about {
}

.about-padding {
	padding-top: 10%;
	/*padding-bottom: 10%;*/
}

.about-col-one {
	padding-right: 20px;
}

.about-col-two {
	padding-left: 10px;
	padding-right: 10px;
}

.about-col-three {
	padding-left: 20px;
}
/*.about-col-padding + .about-col-padding {
	padding-left: 50px;
}*/

/*.about-col-padding:last-child {*/
	/*padding-right: 2.5%;*/
/*}*/

/**
 * Gallery
 */

.galerie {
	/*text-align: center;*/
	background-color: rgba(255, 105, 180, 0.7);
}

/*.gallery-h2 {
	float: left;
}*/

.galerie_container {
	padding-bottom: 5%;
}

.figure {
	display: inline-block;
	max-width: 20%;
	background-color: rgba(255, 240, 192, 0.7);
}

/**
 * Footer
 */

.footer {
	height: 50vh;
	padding-top: 20px;
	padding-bottom: 20px;
}

.link-item {
	font-size: 2em;
	display: inline-block;
	margin-right: 1em;
}

/**
 * for debugging
 */

#introduction {
	background-color: rgba(139, 195, 74, 0.33);
}

#about {
	background-color: rgba(147, 74, 195, 0.33);
}

#gallery {
	background-color: rgba(255, 235, 59, 0.3);
}

figure {
	background-color: rgba(0, 188, 212, 0.3);
}

figcaption {
	background-color: rgba(252, 224, 179, 0.6);
}

footer {
	background-color: rgba(158, 158, 158, 0.5);
}

.block {
	opacity: .2;
	transition: opacity 1s;
}

/*.footer-bg {
	background-color: rgba(255, 233, 240, 0.3);
}*/

.is-active {
	opacity: 1;
}

body:after {
	content: "";
	position: fixed;
	left: 0;
	top: calc(50% - 100px);
	height: 200px;
	right: 0;
	z-index: 10000;
	border: 5px dotted red;
	/*display: none;*/
}