/**
 * Base - styling element selectors
 */

html, body {
	color: white;
	background-color: #C5C5C5;
}

header {
	background-color: rgba(140, 140, 226, 0.62);
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

img {
	width: 100%; /* make image responsive */
	height: auto;
	display: block; /* remove bottom padding */
}

a:link, a:visited {
	color: white;
}

li {

}

/**
 * Helpers
 */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/**
 * Custom Classes
 */

.container {
	background-color: rgba(233, 30, 99, 0.5);
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
}

.row {
	clear: both;
}

.col {
	float: left;
}

.col-half {
	width: 50%;
}

.col-third {
	width: 33.3333333333%;
}

.col-fourth {
	width: 25%;
	background-color: rgba(76, 175, 80, 0.48);
}

/**
 * Header
 */

.h1 {
	font-size: 2em;
}

/**
 * Introduction
 */

.section {

}

.introDiv {
	background-color: rgba(151, 177, 120, 0.71);
}

.introP {

}

.content_links {
	background-color: rgba(255, 6, 0, 0.5);
	display: block;
	float: left;
	margin-top: 50px;
	margin-bottom: 0;
	padding-left: 10%;
}

li:before {
	content: "- ";
}


/**
 * Gallery
 */

.galerie {
	text-align: center;
	background-color: rgba(255, 105, 180, 0.7);
}

.galerie_containder {

}

.figure {
	display: inline-block;
	max-width: 20%;
	background-color: rgba(255, 240, 192, 0.7);
}

/**
 * for debugging
 */

#introduction {	
	background-color: rgba(255, 255, 0, 0.6);
}

figure {
	background-color: rgba(0, 188, 212, 0.3);
}

figcaption {
	background-color: rgba(252, 224, 179, 0.6);
}