/**
 * Base - styling element selectors
 */

html, body {
	color: white;
	background-color: white;
}

img {
	width: 100%; /* make image responsive */
	height: auto;
	display: block; /* remove bottom padding */
}

a:link, a:visited {
	color: white;
}

ul {
	list-style-type: none;
}

li {
}

/**
 * Helpers
 */

.clearfix:after {   		/* note: */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/**
 * Custom Classes
 */

.container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
}

.row {
	clear: both;
}

.col {
	float: left;
}

.col-half {
	width: 50%;
}

.col-logo {
	width: 75%;
}

.col-menu-icon {
	width: 25%;
}

.col-third {
	width: 33.3333333333%;
}

.col-fourth {
	width: 25%;
	background-color: rgba(76, 175, 80, 0.48);
}

.col-offset-third {
	margin-left: 33.3333333333%
}

.full-height {
	height: 100vh;
}

.bottom-margin {
	margin-bottom: 200px;
}

.h2 {
	font-size: 1.5em;
}

.current_item {
	font-weight: 800;
	text-shadow: 0px 0px 10px white, 0px 0px 20px white;
}

/**
 * Header
 */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgb(125, 134, 120);
	/*background-color: rgb(125, 134, 120);*/
	/*padding-top: 15px;*/
	/*padding-bottom: 15px;*/
}



.header-offset {
	padding-top: 78px;
}

.logo {
	float: left;
	padding-top: 10px;
}

.h1 {
	font-size: 1.5em;
}

.menu-icon {
	float: right;
}

.logo-and-icon {
	position: relative;
	height: 65px;
	padding-top: 10px;
	background-color: rgb(125, 134, 120);
	z-index: 100;
}

.menu-lists {
	transform: translateY(-145px);
	transition: transform .5s;
	background-color: rgb(125, 134, 120);
	padding-top: 10px;
	padding-bottom: 10px;
	
	/*padding-left: 2%;*/
  /*padding-right: 2%;*/
  /*position: absolute;*/
  /*top: 65px;*/
  /*left: 0;*/
  /*right: 0;*/
}

.menu-item {
	font-weight: 500;
	font-size: 1em;
  margin-top: 10px;
}

/**
* toggle
*/

.toggle {
	float: right;
	position: relative;
}

.open-icon, .close-icon {
	padding: 10px;
}

.open-icon {
	/*background-color: red;*/
	display: block;
}

.close-icon {
	/*background-color: green;*/
	display: none;
}

.toggle.is-toggled .open-icon {
	display: none;
}

.toggle.is-toggled .close-icon {
	display: block;
}

.is-visible {
	/*display: block;*/
	/*visibility: visible;*/
	/*opacity: 1;*/
	transform: translateY(0);
	/*transform: scale(1,1);*/
	/*transition: transform .8s;*/
}

/**
 * Introduction
 */

.introduction {
}

.introduction-container {
	margin-top: 50px;
}

.section {
}

.introDiv {
	background-color: rgba(151, 177, 120, 0.71);
}

.introText {
}

.content_links {
	background-color: rgba(255, 6, 0, 0.5);
	display: block;
	float: left;
	margin-top: 50px;
	margin-bottom: 0;
	padding-left: 10%;
}

.li-style:before {
	content: "- ";
}

/**
 * About
 */

.about {
}

.about-padding {
	padding-top: 10%;
	/*padding-bottom: 10%;*/
}

.about-col-one {
	padding-right: 20px;
}

.about-col-two {
	padding-left: 10px;
	padding-right: 10px;
}

.about-col-three {
	padding-left: 20px;
}
/*.about-col-padding + .about-col-padding {
	padding-left: 50px;
}*/

/*.about-col-padding:last-child {*/
	/*padding-right: 2.5%;*/
/*}*/

/**
 * Gallery
 */

.galerie {
	/*text-align: center;*/
	background-color: rgba(255, 105, 180, 0.7);
}

.galerie_container {
	padding-bottom: 5%;
}

.figure {
	display: inline-block;
	max-width: 20%;
	background-color: rgba(255, 240, 192, 0.7);
}

/**
 * Footer
 */

.footer {
	height: 50vh;
	padding-top: 20px;
	padding-bottom: 20px;
}

.link-item {
	font-size: 2em;
	display: inline-block;
	margin-right: 1em;
}

/** 
 * media query 
 */

@media (min-width: 700px) and (orientation: landscape) {

	.logo-and-icon {
		height: auto;
	}

	.menu-icon {
		display: none;
	}

	.menu-lists {
		display: inline-block;
		float: right;
		transform: scale(1,1);
		transition: none;
	}

	.menu-item {
		display: inline-block;
		margin-right: 1em;
	}
}

@media (max-width: 699px) {

	.menu-lists {
		padding-left: 3%;
	  padding-right: 2%;
	  position: absolute;
	  top: 65px;
	  left: 0;
	  right: 0;
	}

	.menu {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

}



/*.close, .menu {
	display: none;
}*/

/*input[type=checkbox] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

label {
	background-color: red;
	cursor: pointer;
}*/

/*input[type=checkbox]:checked + label .open {
	display: none;
}*/

/*input[type=checkbox]:checked + label .close {
	display: block;
}*/

/*input[type=checkbox]:checked + label .menu {
	display: block;
}*/


/**
 * for debugging
 */

#introduction {
	background-color: rgba(139, 195, 74, 0.33);
}

#about {
	background-color: rgba(147, 74, 195, 0.33);
}

#gallery {
	background-color: rgba(255, 235, 59, 0.3);
}

figure {
	background-color: rgba(0, 188, 212, 0.3);
}

figcaption {
	background-color: rgba(252, 224, 179, 0.6);
}

footer {
	background-color: rgba(158, 158, 158, 0.5);
}

.block {
	opacity: .2;
	transition: opacity 1s;
}

/*.footer-bg {
	background-color: rgba(255, 233, 240, 0.3);
}*/

.is-active {
	opacity: 1;
}

body:after {
	content: "";
	position: fixed;
	left: 0;
	top: calc(50% - 100px);
	height: 200px;
	right: 0;
	z-index: 10000;
	border: 5px dotted red;
	/*display: none;*/
}

.logo {
	/*background-color: rgba(123, 223, 123, 0.5);*/
}