/**
 * for debugging
 */

#introduction {
	background-color: rgba(139, 195, 74, 0.33);
}

#about {
	background-color: rgba(147, 74, 195, 0.33);
}

figure {
	background-color: rgba(0, 188, 212, 0.3);
}

figcaption {
	background-color: rgba(252, 224, 179, 0.6);
}

body:after {
	content: "";
	position: fixed;
	left: 0;
	top: calc(50% - 100px);
	height: 200px;
	right: 0;
	z-index: 10000;
	border: 5px dotted red;
	display: none;
}

.logo {
	/*background-color: rgba(123, 223, 123, 0.5);*/
}