/** 
 * media query 
 */

@media (min-width: 700px) {

	.logo-and-icon {
		height: auto;
	}

	.menu-icon {
		display: none;
	}

	.menu-lists {
		display: inline-block;
		float: right;
		transform: scale(1,1);
		transition: none;
	}

	.menu-item {
		display: inline-block;
		margin-right: 1em;
	}
}

@media (max-width: 699px) {

	.menu-lists {
		padding-left: 3%;
	  padding-right: 2%;
	  position: absolute;
	  top: 65px;
	  left: 0;
	  right: 0;
	}

	.menu {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.gallery-col {
		width: 50%;
	}

}
