/**
 * About
 */

 .about {
 	background-color: darken($init-bground, 20%);
 }

.aboutColumn {
	padding-bottom: 3%;
}

@media (min-width: $media-min-width) {
	.aboutColumn {
		float: left;
		width: $one-third;
		padding-bottom: 0%;
	}

	.about-col-one {
		padding-right: 20px;
	}

	.about-col-two {
		padding-left: 10px;
		padding-right: 10px;
	}

	.about-col-three {
		padding-left: 20px;
	}
}