/**
 * Base - styling element selectors
 */

html, body {
	color: white;
	background-color: white;
}

img {
	width: $full; /* make image responsive */
	height: auto;
	display: block; /* remove bottom padding */
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: white;
}

ul {
	list-style-type: none;
}

li {
}

figure {
	margin: 0;
}