/**
 * Gallery
 */

figure {
	cursor: pointer;
}

.gallery-col {
	width: $one-fourth;
}

.gallery {
	background-color: $init-bground;
	color: $dark-text;
}

.gallery_container {
}

.gallery_container img {
	height: 180px;
	object-fit: cover;
}

@media (max-width: $media-max-width) {
	.gallery-col {
		width: $half;
	}
}