/**
 * Gallery
 */

figure {
	cursor: pointer;
}

.gallery-col {
	width: $one-fourth;
}

.gallery {
	background-color: rgba(255, 105, 180, 0.7);
}

.gallery_container {
}

.gallery_container img {
	height: 180px;
	object-fit: cover;
}

@media (max-width: 699px) {
	.gallery-col {
		width: $half;
	}
}