/**
 * Header
 */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $z-index-header-logo-and-icon;
	background-color: $header-bground;
	opacity: 0.8; 
}

.logo {
	float: left;
	padding-top: $standard-padding;
}

.h1 {
	font-size: 1.5em;
}

.menu-icon {
	float: right;
}

.logo-and-icon {
	position: relative;
	height: $logo-and-icon-height;
	padding-top: $standard-padding;
	background-color: $header-bground;
	z-index: $z-index-header-logo-and-icon;
}

.menu-lists {
	transform: translateY(-145px);
	transition: transform .5s;
	background-color: $header-bground;
	padding-top: $standard-padding;
	padding-bottom: $standard-padding;
}

.menu-item {
	font-weight: 600;
	font-size: 1em;
  margin-top: 10px;
}

/**
* Header menu toggle
*/

.toggle {
	float: right;
	position: relative;
}

.open-icon, .close-icon {
	padding: $standard-padding;
}

.open-icon {
	display: block;
}

.close-icon {
	display: none;
}

.toggle.is-toggled .open-icon {
	display: none;
}

.toggle.is-toggled .close-icon {
	display: block;
}

.is-visible {
	transform: translateY(0);
}

@media (min-width: $media-min-width) {
	.logo-and-icon {
		height: auto;
	}

	.menu-icon {
		display: none;
	}

	.menu-lists {
		display: inline-block;
		float: right;
		transform: scale(1,1);
		transition: none;
	}

	.menu-item {
		display: inline-block;
		margin-right: 1em;
	}
}

@media (max-width: $media-max-width) {
	.menu-lists {
		padding-left: 3%;
	  padding-right: 2%;
	  position: absolute;
	  top: $logo-and-icon-height;
	  left: 0;
	  right: 0;
	}

	.menu {
		max-width: $max-width;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}
}