/**
 * Header
 */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $z-index-header-logo-and-icon;
	background-color: $header-bground;
	opacity: 0.8; 
}

.h1 {
	font-size: 1.5em;
}

.logo {
	float: left;
	padding-top: $standard-padding;
}

.logo-and-icon {
	position: relative;
	height: $logo-and-icon-height;
	padding-top: $standard-padding;
	background-color: $header-bground;
	z-index: $z-index-header-logo-and-icon;
	@include mq-desktop {
		height: auto;
	}
}

.menu-icon {
	float: right;
	@include mq-desktop {
		display: none;
	}
}

/**
* Menu section
*/

.menu-container {
  position: absolute;
  top: $logo-and-icon-height;
  left: 0;
  right: 0;
  padding: $standard-padding 2% $standard-padding 3%;
	
	// original default
  transform: translateY(-145px);
	transition: transform .5s;
	background-color: $header-bground;

	@include mq-desktop {
		float: right;
		display: inline-block;
		position: relative;
	  top: 0;
		padding-left: 0;
	  padding-right: 0;

		transform: scale(1,1);
		transition: none;
	} 
}

.menu {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;

	@include mq-desktop {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
}

.menu-item {
	font-weight: 600;
	font-size: 1em;
	
	@include mq-desktop {
		display: inline-block;
		margin-right: 1em;
		margin-top: 10px;
	}
}

/**
* Header menu toggle
*/

.toggle {
	float: right;
	position: relative;
}

.open-icon, .close-icon {
	padding: $standard-padding;
}

.open-icon {
	display: block;
}

.close-icon {
	display: none;
}

.toggle.is-toggled .open-icon {
	display: none;
}

.toggle.is-toggled .close-icon {
	display: block;
}

.is-visible {
	transform: translateY(0);
}
