/** 
 *  Mixins
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin media-query($point) {
	@if $point == #{$media-min-width} {
     @media (min-width: #{$media-min-width}) { @content ; }
  }
  @else if $point == #{$media-max-width} {
     @media (max-width: #{$media-max-width}) { @content ; }
  }
}