/** 
 *  Variables
 */

// Lengths
$one-third: 33.3333333333%;
$one-fourth: 25%;
$half: 50%;
$three-fourth: 75%;
$full: 100%;

// Common
$max-width: 90%;
$standard-padding: 10px;

// Colors
$header-background: rgb(125, 134, 120);

// Z-index
$z-index-header-logo-and-icon:	50;
$z-index-screen-overlay: 			 100;
$z-index-modal:       				 200;

// Header Section
$logo-and-icon-height: 65px;