/**
 * Base - styling element selectors
 */

html, body {
	color: white;
	background-color: white;
}

img {
	width: 100%; /* make image responsive */
	height: auto;
	display: block; /* remove bottom padding */
}

a:link, a:visited {
	color: white;
}

ul {
	list-style-type: none;
}

li {
}