/**
 * Gallery
 */

figure {
	cursor: pointer;
}

.gallery-col {
	width: 25%;
}

.gallery {
	background-color: rgba(255, 105, 180, 0.7);
}

.gallery_container {
	/*padding-bottom: 5%;*/
}

/*.figure {
	display: inline-block;
	max-width: 20%;
	background-color: rgba(255, 240, 192, 0.7);
}*/

.gallery_container img {
	height: 180px;
	object-fit: cover;
}

@media (max-width: 699px) {
	.gallery-col {
		width: 50%;
	}
}