/**
 * Introduction
 */

.introduction {
	background-color: rgba(139, 195, 74, 0.6);
}

.introduction-container {
	margin-top: 50px;
}

.introDiv {
	background-color: rgba(151, 177, 120, 0.71);
}

.introText {
	padding-right: 2%;
}

.introImage {
	cursor: pointer;
}

@media (min-width: 700px) {
	.introContent {
		clear: both;
	}

	.introContent:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.introText {
		float: left;
		width: 50%;
	}

	.introImage {
		float: left;
		width: 50%;
	}
}